<h1 style="color:black;">Data Cleaning</h1>

In [4]:
import pandas as pd

file_path = "car_data_by_brand.csv"
df = pd.read_csv(file_path)

print(df.head())

   Brand        Price  Year              Vehicle Name  \
0  Acura  US$ 115,000   NaN  Acura MDX SH-AWD Advance
1  Acura   US$ 79,900   NaN  Acura MDX SH-AWD Advance
2  Acura   US$ 25,500   NaN         Acura ILX Premium
3  Acura   US$ 25,000   NaN         Acura ILX Premium
4  Acura   US$ 83,500   NaN                 Acura MDX

                              Details  \
0  2023 - Gasolina - Usado - 3,000 Mi
1             2022 - Gasolina - Usado
2  2022 - Gasolina - Usado - 2,700 Mi
3             2022 - Gasolina - Usado
4             2022 - Gasolina - Usado

                                           Image URL
0  https://img.supercarros.com/AdsPhotos/282x188/...
1  https://img.supercarros.com/AdsPhotos/282x188/...
2  https://img.supercarros.com/AdsPhotos/282x188/...
3  https://img.supercarros.com/AdsPhotos/282x188/...
4  https://img.supercarros.com/AdsPhotos/282x188/...

In [5]:
# Copy the values from the 'price' column into a new column called 'placeholder'
df['placeholder'] = df['Price']

In [6]:
# Remove dollar signs and convert the 'price' column to numeric values
df['placeholder'] = df['Price'].replace({',': ''}, regex=True).str.extract(r'(\d+(\.\d+)?)')[0].astype(float)

In [7]:
# Create the 'Price_in_USD' column based on the condition
df['Price_in_USD'] = df.apply(
    lambda row: row['placeholder'] if str(row['Price']).startswith("US") else row['placeholder'] // 61.3,
    axis=1
)

print(df.head(5))

   Brand        Price  Year              Vehicle Name  \
0  Acura  US$ 115,000   NaN  Acura MDX SH-AWD Advance
1  Acura   US$ 79,900   NaN  Acura MDX SH-AWD Advance
2  Acura   US$ 25,500   NaN         Acura ILX Premium
3  Acura   US$ 25,000   NaN         Acura ILX Premium
4  Acura   US$ 83,500   NaN                 Acura MDX

                              Details  \
0  2023 - Gasolina - Usado - 3,000 Mi
1             2022 - Gasolina - Usado
2  2022 - Gasolina - Usado - 2,700 Mi
3             2022 - Gasolina - Usado
4             2022 - Gasolina - Usado

                                           Image URL  placeholder  \
0  https://img.supercarros.com/AdsPhotos/282x188/...     115000.0
1  https://img.supercarros.com/AdsPhotos/282x188/...      79900.0
2  https://img.supercarros.com/AdsPhotos/282x188/...      25500.0
3  https://img.supercarros.com/AdsPhotos/282x188/...      25000.0
4  https://img.supercarros.com/AdsPhotos/282x188/...      83500.0

   Price_in_USD
0      115000.0
1       79900.0
2       25500.0
3       25000.0
4       83500.0

In [8]:
# Delete the 'placeholder' column in place
df.drop(columns=['placeholder'], inplace=True)

In [9]:
# Remove the car brand from the 'Vehicle Name' column
df['Vehicle Name'] = df.apply(
    lambda row: row['Vehicle Name'].replace(row['Brand'], '').strip() if pd.notnull(row['Brand']) else row['Vehicle Name'],
    axis=1
)

print(df.head(5))

   Brand        Price  Year        Vehicle Name  \
0  Acura  US$ 115,000   NaN  MDX SH-AWD Advance
1  Acura   US$ 79,900   NaN  MDX SH-AWD Advance
2  Acura   US$ 25,500   NaN         ILX Premium
3  Acura   US$ 25,000   NaN         ILX Premium
4  Acura   US$ 83,500   NaN                 MDX

                              Details  \
0  2023 - Gasolina - Usado - 3,000 Mi
1             2022 - Gasolina - Usado
2  2022 - Gasolina - Usado - 2,700 Mi
3             2022 - Gasolina - Usado
4             2022 - Gasolina - Usado

                                           Image URL  Price_in_USD
0  https://img.supercarros.com/AdsPhotos/282x188/...      115000.0
1  https://img.supercarros.com/AdsPhotos/282x188/...       79900.0
2  https://img.supercarros.com/AdsPhotos/282x188/...       25500.0
3  https://img.supercarros.com/AdsPhotos/282x188/...       25000.0
4  https://img.supercarros.com/AdsPhotos/282x188/...       83500.0

In [10]:
# Rename the 'Vehicle Name' column to 'Model'
df.rename(columns={'Vehicle Name': 'Model'}, inplace=True)

print(df.head(3))

   Brand        Price  Year               Model  \
0  Acura  US$ 115,000   NaN  MDX SH-AWD Advance
1  Acura   US$ 79,900   NaN  MDX SH-AWD Advance
2  Acura   US$ 25,500   NaN         ILX Premium

                              Details  \
0  2023 - Gasolina - Usado - 3,000 Mi
1             2022 - Gasolina - Usado
2  2022 - Gasolina - Usado - 2,700 Mi

                                           Image URL  Price_in_USD
0  https://img.supercarros.com/AdsPhotos/282x188/...      115000.0
1  https://img.supercarros.com/AdsPhotos/282x188/...       79900.0
2  https://img.supercarros.com/AdsPhotos/282x188/...       25500.0

In [11]:
# Extract the year from the 'detail' column and fill the 'Year' column
df['Year'] = df['Details'].str.extract(r'(\b\d{4}\b)', expand=False)

print(df.head(5))

   Brand        Price  Year               Model  \
0  Acura  US$ 115,000  2023  MDX SH-AWD Advance
1  Acura   US$ 79,900  2022  MDX SH-AWD Advance
2  Acura   US$ 25,500  2022         ILX Premium
3  Acura   US$ 25,000  2022         ILX Premium
4  Acura   US$ 83,500  2022                 MDX

                              Details  \
0  2023 - Gasolina - Usado - 3,000 Mi
1             2022 - Gasolina - Usado
2  2022 - Gasolina - Usado - 2,700 Mi
3             2022 - Gasolina - Usado
4             2022 - Gasolina - Usado

                                           Image URL  Price_in_USD
0  https://img.supercarros.com/AdsPhotos/282x188/...      115000.0
1  https://img.supercarros.com/AdsPhotos/282x188/...       79900.0
2  https://img.supercarros.com/AdsPhotos/282x188/...       25500.0
3  https://img.supercarros.com/AdsPhotos/282x188/...       25000.0
4  https://img.supercarros.com/AdsPhotos/282x188/...       83500.0

In [12]:
# Extract the value between the first '-' and the second '-' and fill the 'Power' column
df['Power'] = df['Details'].str.extract(r'-\s*([^-\s]+)\s*-', expand=False)

print(df.head(5))

   Brand        Price  Year               Model  \
0  Acura  US$ 115,000  2023  MDX SH-AWD Advance
1  Acura   US$ 79,900  2022  MDX SH-AWD Advance
2  Acura   US$ 25,500  2022         ILX Premium
3  Acura   US$ 25,000  2022         ILX Premium
4  Acura   US$ 83,500  2022                 MDX

                              Details  \
0  2023 - Gasolina - Usado - 3,000 Mi
1             2022 - Gasolina - Usado
2  2022 - Gasolina - Usado - 2,700 Mi
3             2022 - Gasolina - Usado
4             2022 - Gasolina - Usado

                                           Image URL  Price_in_USD     Power
0  https://img.supercarros.com/AdsPhotos/282x188/...      115000.0  Gasolina
1  https://img.supercarros.com/AdsPhotos/282x188/...       79900.0  Gasolina
2  https://img.supercarros.com/AdsPhotos/282x188/...       25500.0  Gasolina
3  https://img.supercarros.com/AdsPhotos/282x188/...       25000.0  Gasolina
4  https://img.supercarros.com/AdsPhotos/282x188/...       83500.0  Gasolina

In [13]:
# Replace values starting with 'E' with 'Electrico' and starting with 'H' with 'Hibrido'
df['Power'] = df['Power'].apply(
    lambda x: 'Electrico' if str(x).startswith('E') else ('Hibrido' if str(x).startswith('H') else x)
)

In [14]:
# Extract the value between the second '-' and the third '-', or just after the second '-'
df['Usage'] = df['Details'].str.extract(r'-[^-]+-\s*([^-\n]+)', expand=False)

print(df.head(5))

   Brand        Price  Year               Model  \
0  Acura  US$ 115,000  2023  MDX SH-AWD Advance
1  Acura   US$ 79,900  2022  MDX SH-AWD Advance
2  Acura   US$ 25,500  2022         ILX Premium
3  Acura   US$ 25,000  2022         ILX Premium
4  Acura   US$ 83,500  2022                 MDX

                              Details  \
0  2023 - Gasolina - Usado - 3,000 Mi
1             2022 - Gasolina - Usado
2  2022 - Gasolina - Usado - 2,700 Mi
3             2022 - Gasolina - Usado
4             2022 - Gasolina - Usado

                                           Image URL  Price_in_USD     Power  \
0  https://img.supercarros.com/AdsPhotos/282x188/...      115000.0  Gasolina
1  https://img.supercarros.com/AdsPhotos/282x188/...       79900.0  Gasolina
2  https://img.supercarros.com/AdsPhotos/282x188/...       25500.0  Gasolina
3  https://img.supercarros.com/AdsPhotos/282x188/...       25000.0  Gasolina
4  https://img.supercarros.com/AdsPhotos/282x188/...       83500.0  Gasolina

    Usage
0  Usado
1   Usado
2  Usado
3   Usado
4   Usado

In [15]:
# Extract the value after the third '-' and fill the 'Odometer' column
df['Odometer'] = df['Details'].str.extract(r'(?:[^-]*-){3}\s*([^-\n]*)', expand=False)

print(df.head(5))

   Brand        Price  Year               Model  \
0  Acura  US$ 115,000  2023  MDX SH-AWD Advance
1  Acura   US$ 79,900  2022  MDX SH-AWD Advance
2  Acura   US$ 25,500  2022         ILX Premium
3  Acura   US$ 25,000  2022         ILX Premium
4  Acura   US$ 83,500  2022                 MDX

                              Details  \
0  2023 - Gasolina - Usado - 3,000 Mi
1             2022 - Gasolina - Usado
2  2022 - Gasolina - Usado - 2,700 Mi
3             2022 - Gasolina - Usado
4             2022 - Gasolina - Usado

                                           Image URL  Price_in_USD     Power  \
0  https://img.supercarros.com/AdsPhotos/282x188/...      115000.0  Gasolina
1  https://img.supercarros.com/AdsPhotos/282x188/...       79900.0  Gasolina
2  https://img.supercarros.com/AdsPhotos/282x188/...       25500.0  Gasolina
3  https://img.supercarros.com/AdsPhotos/282x188/...       25000.0  Gasolina
4  https://img.supercarros.com/AdsPhotos/282x188/...       83500.0  Gasolina

    Usage  Odometer
0  Usado   3,000 Mi
1   Usado       NaN
2  Usado   2,700 Mi
3   Usado       NaN
4   Usado       NaN

In [16]:
# Extract values containing 'Rango' into a new column called 'Range'
df['Range'] = df['Odometer'].where(df['Odometer'].str.contains('Rango', na=False))

# Remove 'Rango' values from the 'Odometer' column
df['Odometer'] = df['Odometer'].str.replace(r'.*Rango.*', '', regex=True).str.strip()

# Verify the result
print(df[['Odometer', 'Range']].head(20))

     Odometer Range
0    3,000 Mi   NaN
1         NaN   NaN
2    2,700 Mi   NaN
3         NaN   NaN
4         NaN   NaN
5         NaN   NaN
6         NaN   NaN
7         NaN   NaN
8   37,000 Mi   NaN
9   22,833 Mi   NaN
10  51,633 Mi   NaN
11  77,000 Mi   NaN
12        NaN   NaN
13        NaN   NaN
14        NaN   NaN
15        NaN   NaN
16        NaN   NaN
17  61,500 Mi   NaN
18        NaN   NaN
19  45,000 Mi   NaN

In [17]:
# Remove only the word 'Rango' (case-insensitive) from the 'Millage' column
df['Range'] = df['Range'].str.replace(r'\bRango\b', '', regex=True, case=False).str.strip()

In [18]:
# Extract numeric values from the 'Range' column and store them in the 'placeholder' column
df['placeholder'] = df['Range'].str.extract(r'(\d+)', expand=False)

In [19]:
# Update the 'Range' column based on the conditions
def convert_range(row):
    if 'KM' in str(row['Range']).upper():  # Check if 'KM' is in the text
        return round(float(row['placeholder']) // 0.62)
    elif 'MI' in str(row['Range']).upper():
        return float(row['placeholder'])
    return None

df['Range'] = df.apply(convert_range, axis=1)

df.drop(columns=['placeholder'], inplace=True)

In [20]:
df['Odometer'] = df['Odometer'].str.replace(',', '', regex=True)

# Extract numeric values from the 'Odometer' column and store them in the 'placeholder' column
df['placeholder'] = df['Odometer'].str.extract(r'(\d+)', expand=False)

In [21]:
# Update the 'Odometer' column based on conditions
def convert_odometer(row):
    
    odometer_value = str(row['Odometer'])
    
    if 'KM' in odometer_value.upper():  # Check if 'KM' is in the text
        return round(float(row['placeholder']) // 0.62)  
    elif 'MI' in odometer_value.upper():
        return float(row['placeholder'])  
    return None

df['Odometer'] = df.apply(convert_odometer, axis=1)

df.drop(columns=['placeholder'], inplace=True)

print(df[['Odometer']].head(20))

    Odometer
0     3000.0
1        NaN
2     2700.0
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8    37000.0
9    22833.0
10   51633.0
11   77000.0
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17   61500.0
18       NaN
19   45000.0

In [22]:
# Rename the columns
df.rename(columns={'Odometer': 'Odometer_miles', 'Range': 'Range_miles'}, inplace=True)

print(df.head(5))

   Brand        Price  Year               Model  \
0  Acura  US$ 115,000  2023  MDX SH-AWD Advance
1  Acura   US$ 79,900  2022  MDX SH-AWD Advance
2  Acura   US$ 25,500  2022         ILX Premium
3  Acura   US$ 25,000  2022         ILX Premium
4  Acura   US$ 83,500  2022                 MDX

                              Details  \
0  2023 - Gasolina - Usado - 3,000 Mi
1             2022 - Gasolina - Usado
2  2022 - Gasolina - Usado - 2,700 Mi
3             2022 - Gasolina - Usado
4             2022 - Gasolina - Usado

                                           Image URL  Price_in_USD     Power  \
0  https://img.supercarros.com/AdsPhotos/282x188/...      115000.0  Gasolina
1  https://img.supercarros.com/AdsPhotos/282x188/...       79900.0  Gasolina
2  https://img.supercarros.com/AdsPhotos/282x188/...       25500.0  Gasolina
3  https://img.supercarros.com/AdsPhotos/282x188/...       25000.0  Gasolina
4  https://img.supercarros.com/AdsPhotos/282x188/...       83500.0  Gasolina

    Usage  Odometer_miles  Range_miles
0  Usado           3000.0          NaN
1   Usado             NaN          NaN
2  Usado           2700.0          NaN
3   Usado             NaN          NaN
4   Usado             NaN          NaN

In [21]:
# Export cleaned CSV file
df.to_csv("car_data_by_brand_cleaned.csv", index=False)

In [24]:
unique_brands = df['Brand'].unique()
print(unique_brands)

['Acura' 'Aiqar' 'Aiways' 'Alfa Romeo' 'Aston Martin' 'Audi' 'AVATR'
 'Baic' 'Bajaj' 'Baojun' 'BAW' 'Bentley' 'Bestune' 'BMW' 'Brilliance'
 'Buick' 'BYD' 'Cadillac' 'Cenntro' 'Chang LI' 'Changan' 'Chery'
 'Chevrolet' 'Chrysler' 'Citroen' 'Daewoo' 'Daihatsu' 'Dayun' 'Dodge'
 'Dongfeng' 'Faw' 'Ferrari' 'Fiat' 'Ford' 'Forthing' 'Foton' 'GAC' 'Geely'
 'Genesis' 'GMC' 'Go Electric' 'Great Wall' 'GWM' 'Havall' 'Helmarv'
 'Higer' 'Hino' 'Honda' 'Hummer' 'Hyundai' 'Infiniti' 'Isuzu' 'Jac'
 'Jaguar' 'Jayco' 'Jeep' 'Jetour' 'Jin-Bei' 'Jingling' 'JMC' 'JMEV'
 'Kaiyi' 'Kaiyun' 'KGM' 'Kia' 'KYC' 'Lamborghini' 'Land Rover'
 'Leapmotors' 'Lexus' 'Lincoln' 'Maserati' 'Maxus' 'Mazda' 'McLaren'
 'Mercedes-Benz' 'MG' 'Mini' 'Mitsubishi' 'Mullen' 'Neta' 'Nissan' 'Ora'
 'Peugeot' 'Pontiac' 'Porsche' 'Qingling' 'Radar' 'Ram' 'Renault'
 'Riddara' 'RISING' 'Rivian' 'Rolls Royce' 'Samsung' 'Seat' 'Shineray'
 'Skywell' 'SsangYong' 'Subaru' 'Suzuki' 'SWM' 'Tesla' 'Toyota'
 'Volkswagen' 'Volvo' 'WULING' 'Xpeng' 'YEMA' 'Zeekr' 'ZXAUTO']